@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Single", system-ui;
}

/* color variable  */
:root{
    --lead:#212121;
    --gold-finger: #F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yelloe:#FCF1CC;
    --pure-white:#FFF;
}

body{
    background-color: var(--eye-ball);
}

/* basic style */

a{
    font-size: 1.1rem ;
    text-decoration: none;
    color: var(--lead);
}

.flex{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.gap-3{
    gap:3rem;
}

.gap-2{
    gap:2rem;
}

.navbar{
    justify-content: space-between;
}

.wrapper{
    max-width: 1400px;
    background-color:bisque;
    margin: auto;
    padding-inline: 1.5rem;
}
/* header style */

.navbar{
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background-color: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: 2s ease-in-out;
}

.btn:hover{
    background-color: var(--lead);
}

.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{
    position: absolute;
    
    font-size: 0.85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: var(--gold-finger);
    color: #212121;
    text-align: center;
    line-height: 20px;
    
}

/* section style */


/* footer style */


/* media query */