@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Single", system-ui;
    /* border: 1px solid red; */
}

/* color variable  */
:root{
    --lead:#212121;
    --gold-finger: #F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yelloe:#FCF1CC;
    --pure-white:#FFF;
}

body{
    background-color: var(--eye-ball);
}

/* basic style */

a{
    font-size: 1.1rem ;
    text-decoration: none;
    color: var(--lead);
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

.gap-3{
    gap:3rem;
}

.gap-2{
    gap:2rem;
}

.navbar{
    justify-content: space-between;
}

.wrapper{
    max-width: 1400px;
    background-color:bisque;
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}








/* header style */

.navbar{
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background-color: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: 2s ease-in-out;
}

.btn:hover{
    background-color: var(--lead);
}

.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: 0.85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: var(--gold-finger);
    color: #212121;
    text-align: center;
    line-height: 20px;
    
}

.hamburger{
    font-size: 2rem;
    display: none;
}

.mobile-menu{
    display: none;
}






/* section style */

.hero{
    background: gold;
    min-height: calc(100vh-14vh);
}

.content,
.image{
    flex: 1;
    flex-basis: 300px;;
}

h1{
    font-size: 5.6 vw;
    color: var(--lead);
}
h1 span{
    color: var(--gold-finger);
}

p{
    font-size: 1.25rem;
    color: grey;
    line-height: 1.8rem;
    /* top:2 rem; */
}

.para{
    margin-block:2rem ;
    max-width: 600px;
}

.social-icon{
    background: var(--hint-yelloe);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.5rem ;
    text-align: center;
    line-height: 3rem; 
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .5s ease-in-out;
}

i{
    margin-top: 0.8rem;
}

.social-icon:hover{
    background: var(--lead);
    color:var(--pure-white) ;
}











/* footer style */


/* media query */

@media screen and (max-width: 780px){

    /* header */
    .navlist,
    .desktop-action .btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform:translateX(-50%);
        width: 20 rem;
        padding: 2rem;;
        background-color: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px,
                    rgba(0, 0, 0, 0.5) 10px 10px 10px inset;
        transition: all .5 ease-in-out;
        
    }
    .mobile-menu-active{
            left: 50%;
            transform:translateX(50%);
        
    }



    /* section */
    h1{
        font-size: 3.6rem ;
    }
    .content{
        padding: 3rem;
    }

    .gap-2{
        gap: 1rem;
    }

    .gap-4{
        gap: 4rem ;
    }

    
    
}